* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  top: 0;
  background-color: blue;
  width: 100%;
}

.button {
  display: inline;
  margin: 10px 5%;
}

.button a:hover {
  background-color: red;
  transition: ease-in-out 0.6s;
}

.button a {
  background-color: white;
  padding: 3px 10px;
  font-size: large;
  text-decoration: none;
}

main {
  margin-top: 50px;
  display: flex;
}

#content {
  display: flex;
}

#content p {
  text-align: center;
  padding-left: 8%;
  padding-right: 10%;
}

#google {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 5px solid blue;
  border-radius: 20%;
  align-items: center;
  padding: 5px;
}

#google img {
  display: block;
  width: 50px;
}

#google span {
  display: block;
  background-color: white;
  z-index: 100;
}

#top-page {
  margin-top: 50dvh;
  width: 2%;
}

#top-page a {
  border: 5px solid blue;
  border-radius: 30%;
  padding: 10px;
  background-color: white;
  top: 5%;
  position: sticky;
  margin-left: 20px;
  z-index: 100;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}
